@import "../vars.css";

.contact {
    /* height: 150px; */
    /* top: 2851px; */
    background: rgba(25, 55, 109, 1);
    height: 9rem;
    top: 178rem;
    display: flex;
    flex-direction: row;
    color: var(--color-text);
}

.contact-left {
    display: flex;
    justify-content: center;
    width: 50%;
}

.contact-title {
    /* font-size: 60px; */
    font-size: 3.75;
    font-weight: 600;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons {
    display: flex;
    flex-direction: row;   
}

.contact-btn {
    /* height: 75px; */
    height: 4.6rem;
    /* width: 75px; */
    width: 4.6rem;
    background-color: #f1fcfb;
    border-radius: 50px;
    text-align: center;
    /* margin: 10px; */
    margin: 0.625rem;
    /* line-height: 93px; */
    line-height: 5.8rem;
}

.contact-btn i {
    /* font-size: 36px; */
    font-size: 2.25rem;
    transition: all 0.3s linear;
    margin-left: 0px;
}

.contact-btn:hover i {
    transform: scale(1.2);
}

.fa-twitter {
    color: #3180e7;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-github {
    color: black;
}

.fa-whatsapp {
    color: green;
}