@import "../vars.css";

.contact {
    /* background: rgba(25, 55, 109, 1); */
    height: 5rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    /* border: 8px solid rgba(255, 0, 98, 0.436); */
}

.contact-left {
    display: flex;
    justify-content: center;
    /* border: 8px solid rgba(89, 0, 255, 0.436); */
}

.contact-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 8px solid rgba(0, 255, 255, 0.436); */
}

.contact-right {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 8px solid rgba(0, 255, 255, 0.436); */
}

.contact-icons {
    display: flex;
    flex-direction: row;
    /* border: 8px solid rgba(0, 255, 34, 0.436);    */
}

.contact-btn {
    height: 3rem;
    width: 3rem;
    background-color: #f1fcfb;
    border-radius: 50px;
    text-align: center;
    margin: 0.625rem;
    line-height: 3.8rem;
}

.contact-btn i {
    font-size: 1.8rem;
    transition: all 0.3s linear;
    /* margin-left: 0px; */
}

.contact-btn:hover i {
    transform: scale(1.2);
}

.fa-twitter {
    color: #3180e7;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-github {
    color: black;
}

.fa-whatsapp {
    color: green;
}

/* RESPONSIVENESS */

@media screen and (max-width: 992px) {

    .contact-left {
        display: none;
    }

}