@import "../vars.css";

.experience {
    box-sizing: border-box;
    width: 70rem;
    height: 40rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(12, 12, 12, 0.6);
    padding-top: 1.5rem;
    color: var(--color-text);
    /* border: 8px solid cyan; */
}

.experience-heading {
    box-sizing: border-box;
    font-family: Outfit;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.08em;
    text-align: left;
    /* border: 1px solid rgb(159, 167, 159); */
}

/* .experience-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 8px solid red;
} */

.experience-box-left {
    /* border: 8px solid cyan; */
    display: flex;
    justify-content: center;
}

.experience-img {
    width: 65%;
    height: 90%;
    z-index: 1;
    /* border: 8px solid rgba(0, 255, 255, 0.436); */
}

.experience-box-right {
    margin-top: 0rem;
    /* border: 8px solid pink; */
}

.experience-list {
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.exp {
    border: 2px solid rgb(89, 90, 88);
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 0.6rem;
    margin-right: 1.5rem;
    padding-left: 0.9rem;
    background-image: linear-gradient(270deg, rgba(165, 215, 232, 0.42) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 100% 100%;
}

.exp:hover {
    border: 2px solid var(--color-text);
    background-size: 0 100%;
}

.exp-role {
    font-family: Outfit;
    font-size: 1.3rem;
    font-weight: 450;
    letter-spacing: 0.05em;
}

.exp-date {
    margin-top: -1.125rem;
    color: var(--color-primary);
}

.exp-des {
    margin-top: -1rem;
    line-height: 1.3;
    color: rgb(225, 225, 225);
}

/* RESPONSIVENESS */

@media screen and (max-width: 992px) {

    .experience {
        height: 60rem;
    }
    .experience-heading {
        display: flex;
        justify-content: center;
    }

    .experience-img {
        width: 55%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}