@import "../vars.css";

.hero-container {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1; /* blur property ke liye add kiya hai*/
    padding-top: 1.75rem;
    /* border: 1px solid red; */
}

.hero-content-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */
}

.hero-title {
    font-size: 3.75rem;
    font-weight: 800;
    font-family: var(--font-roboto);
    color: var(--color-text);
    /* border: 1px solid cyan; */
}

.hero-description {
    font-family: var(--font-roboto);
    font-size: 1.875rem;
    font-weight: 400;
    color: var(--color-text);
    text-align: justify;
    padding: 1.875rem;
    line-height: 2.1rem;
    letter-spacing: -0.109rem;
    /* border: 1px solid slateblue; */
}

.hero-description-end {
    color: var(--color-text);
    font-size: 1.875em;
    font-weight: 400;
    margin-top: -1.2rem;
    /* border: 1px solid rgb(135, 98, 98); */
}

.hero-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 3.125rem;
    /* border: 1px solid red; */
}

.hero-contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.hero-contactBtn:hover {
    background-color: #7a93f6;
}

.hero-content-right {
    display: flex;
    justify-content: center;
    /* border: 1px solid violet; */
}

.hero-img {
    width: 21rem;
    height: 21rem;
    z-index: 1;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, -20px);
    }
}

@media screen and (max-width: 576px) {
    .hero-img{
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width: 450px) {
    .hero-title {
        font-size: 3.25rem;
        font-weight: 750;
        
    }

    .hero-description {
        font-size: 1.7rem;
        font-weight: 400;
    }
}