@import "../vars.css";

.project {
    box-sizing: border-box;
    width: 70rem;
    height: 36rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(12, 12, 12, 0.6);
    padding-top: 1.5rem;
    color: var(--color-text);
    /* border: 6px solid red; */
}

.project-heading {
    box-sizing: border-box;
    font-family: Outfit;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.08em;
    text-align: left;
    margin-left: 2.5rem;
    /* border: 2px solid rgb(255, 200, 48); */
}

.project-box-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(0, 195, 255); */
}

.project-img {
    width: 20rem;
    height: 20rem;
    z-index: 1;
    border-radius: 50%;
}

.project-box-right {
    box-sizing: border-box;
    /* border: 7px solid rgb(38, 0, 255); */
}

.project-list {
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.pro {
    border: 2px solid rgb(89, 90, 88);
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 0.6rem;
    margin-right: 1.5rem;
    padding-left: 0.9rem;
    background-image: linear-gradient(50deg, rgba(165, 215, 232, 0.42) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 100% 100%;
}

.pro:hover {
    border: 2px solid var(--color-text);
    background-size: 0 100%;
}

.pro-role {
    font-family: Outfit;
    font-size: 1.3rem;
    font-weight: 450;
    letter-spacing: 0.05em;
    /* border: 2px solid red; */
}

.pro-date {
    margin-top: -1.125rem;
    color: var(--color-primary);
    /* border: 2px solid red; */
}

.pro-des {
    margin-top: -1rem;
    line-height: 1.3;
    color: rgb(225, 225, 225);
    /* border: 2px solid red; */
}

.btn{
    margin-top: -0.938rem;
    margin-bottom: 0.313rem;
    margin-right: 0.625rem;
    padding-left: 0.313rem;
    padding-right: 0.313rem;
    padding-top: 0.188rem;
    padding-bottom: 0.188rem;
    background-color: var(--color-primary);
    border: 0px solid var(--color-primary);
    color:var(--color-text);
}

.btn:hover {
    color: var(--color-text);
    background-color: #7a93f6;
}

@media screen and (max-width: 992px) {

    .project {
        height: 38rem;
    }
    
    .project-heading {
        display: flex;
        justify-content: center;
        margin-left: 0rem;
    }

    .project-img {
        display: none;
    }

    .project-box-right {
        margin-top: 1rem;
    }
}